{% extends 'admin/base.html' %}

{% block title %}View All Applications{% endblock %}

{% block body %}
<h1>View All Applications</h1>
<table class="table table-striped">
<tr>
  <th>Project</th>
  <th>Applicant Major</th>
  <th>Applicant Year</th>
  <th>Status</th>
</tr>
{% for app in applications %}
<tr>
  <td>{{ app.project_name }}</td>
  <td>{{ app.major }}</td>
  <td>{{ app.year }}</td>
  <td>
    {% if app.status == 'pending' %}
      <div class="btn-group btn-group-xs">
        <a href="{{ url_for('admin.reject_application', project_name=app.project_name, student_name=app.student_name) }}" class="btn btn-danger">Reject</a>
        <a href="{{ url_for('admin.accept_application', project_name=app.project_name, student_name=app.student_name) }}" class="btn btn-success">Accept</a>
      </div>
    {% else %}
      {{ app.status | capitalize }}
    {% endif %}
  </td>
</tr>
{% else %}
<tr><td>No Applications</td></th>
{% endfor %}
</table>
{% endblock %}
