{% extends "base.html" %}

{% block js %}
<script>var form_defaults = {{ form_defaults | tojson }};</script>
<script src="static/js/home.js"></script>
{% endblock %}

{% import 'forms.html' as forms %}

{% block title %}Main Page{% endblock %}

{% block body %}
<h1>Main Page</h1>

<!-- Search/filter -->
<div class="container-fluid">
<form role="form" action="{{ url_for('.home') }}" method="post" class="row">
  {{ form.hidden_tag() }}
  <div class="form-group col-xs-12">
    {{ forms.input(form.title, label='Title') }}
  </div>
  <div class="form-group col-xs-6">
    {{ forms.input(form.categories, label='Categories') }}
  </div>
  <div class="form-group col-xs-6">
    {{ forms.input(form.designation, label='Designation') }}
  </div>
  <div class="form-group col-xs-6">
    {{ forms.input(form.year, label='Year') }}
  </div>
  <div class="form-group col-xs-6">
    {{ forms.input(form.major, label='Major') }}
  </div>
  <div class="form-group col-xs-6">
    {% for option in form.search_type %}
    <label>
      {{ option }}
      {{ option.label }}
    </label>
    {% endfor %}
  </div>
  <div class="form_group col-xs-12">
    <span id="reset_search" class="btn btn-default">Reset</span>
    <button type="submit" class="btn btn-primary">Apply</button>
  </div>
</form>
</div>

<hr>
<!-- Results -->
<div>
<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>
{% for result in results %}
  <tr>
    {% if result.type == 'Project' %}
    <td><a href="{{ url_for('main.view_project', project_name=result.name) }}">{{ result.name }}</a></td>
    {% elif result.type == 'Course' %}
    <td><a href="{{ url_for('main.view_course', course_name=result.name) }}">{{ result.name }}</a></td>
    {% else %}
    <td>{{ result.name }}</td>
    {% endif %}
    <td>{{ result.type }}</td>
  </tr>
{% else %}
  <tr><td>No Results<td></tr>
{% endfor %}
</table>
</div>
{% endblock %}
