{% extends "base.html" %}

{% block title %}View Project | {{ project.name }}{% endblock %}

{% block body %}
<h1>{{ project.name }}</h1>
<ul>
  <li>Advisor: {{ project.advisor_name }} ({{project.advisor_email }})</li>
  <li>Description:<br>{{ project.description }}</li>
  <li>Designation: {{ project.designation_name or 'None' }}</li>
  <li>Category: {{ project.categories | join(', ') or 'None' }} </li>
  <li>Requirements: {{ project.requirements | join(', ') or 'None' }}</li>
  <li>Estimated number of students: {{ project.est_num_students }}</li>
</ul>
<form role="form" action="" method="post">
  <a href="{{ url_for('.home') }}" class="btn btn-default">Back</a>
  {% if not current_user.is_admin %}
    <button type="submit" class="btn btn-primary">Apply</button>
  {% endif %}
</form>
{% endblock %}
